/* body > header {
    display: flex;
} */

body {
    display: flex;
}

body > div {
    
    margin-top: 58px;
    margin-left: 2em;
    align-items: center;

}

body > div > h2 {
    color: blue;
}

body > div > section > div {
    border: 1px solid gray;
    padding: 10px;
    margin: 10px;
    height: 150px;
    width: 150px;
}

p, h3, a, input {
    margin: 5px;
}